<!DOCTYPE html>
<html>
    <head>
        <title>About | Harker Robotics</title>    
        <%- include(__base + 'views/new/partials/analytics.ejs') %>

        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">


         <!-- Site Styles -->
         <link rel="stylesheet" href="new/css/theme.css" />
         <link rel="stylesheet" href="new/css/splash.css" />
         <link rel="stylesheet" href="new/css/header.css" />
         <link rel="stylesheet" href="new/css/footer.css" />

         <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/about.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
        <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id="content">
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="header-navigation-invis"></div>
            <div id="body">
                <div id="about">
                    <h1>About</h1>
                    <h2 id="missionstatement-title">Mission Statement</h2>
                    <p id="missionstatement">We aim to grant club members the opportunity to explore STEAM through hands-on experience with robots and their components. We develop the organizational and teamwork skills required to successfully design and build for the FIRST® competition. We perform with joy, professionalism, and excellence, sharing our knowledge and experience with the larger community.</p>
                    <h2 id="awards-title">Awards & Accomplishments</h2>
                    <p id="awards">
                        <b>2025 CalGames:</b> Winner <br />
                        <b>2025 Central Valley Regional:</b> Regional Finalists <br />
                        <b>2024 Monterey Bay Regional:</b> Judges' Award <br />
                        <b>2024 Sacramento Regional:</b> Regional Finalists & Gracious Professionalism Award <br />
                        <b>2023 Sacramento Regional:</b> FIRST® Impact Award <br />
                        <b>2023 Central Valley Regional:</b> Judges' Award <br />
                        <b>2022 Silicon Valley Regional:</b> Excellence in Engineering Award <br />
                        <b>2019 Sacramento Regional:</b> Regional Finalists <br />
                        <b>2019 Central Valley Regional:</b> Regional Finalists Wildcard <br />
                        <b>2018 Roebling Division:</b> Championship Subdivision Winner <br />
                        <b>2018 Sacramento Regional:</b> Regional Finalists Wildcard <br />
                        <b>2014 Central Valley Regional:</b> Entrepreneurship Award sponsored by Kleiner Perkins Caufield & Byers <br />
                        <b>2012 Sacramento Regional:</b> Woodie Flowers Finalist Award (Eric Nelson) <br />
                        <b>2008 UC Davis Sacramento Regional:</b> Regional Finalists <br />
                        <b>2007 Davis Sacramento Regional:</b> Xerox Creativity Award <br />
                        <b>2005 Silicon Valley Regional:</b> Judges' Award <br />
                        <b>2005 Sacramento Regional:</b> Regional Winner <br />
                        <b>2003 Silicon Valley Regional:</b> DaimlerChrysler Team Spirit Award <br />
                        <b>2003 Sacramento Regional:</b> Rookie All Star Award Friday <br />
                    </p>
                </div>  
            </div>
            <%- include(__base + 'views/new/partials/footer.ejs') %>
        </div>
    </body>
</html>
