<!DOCTYPE html>
<html>
    <head>
        <title>Calendar - Harker Robotics</title>    
        <%- include(__base + 'views/new/partials/analytics.ejs') %>

        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">


         <!-- Site Styles -->
         <link rel="stylesheet" href="new/css/theme.css" />
         <link rel="stylesheet" href="new/css/splash.css" />
         <link rel="stylesheet" href="new/css/header.css" />
         <link rel="stylesheet" href="new/css/footer.css" />

         <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/about.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
        <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id="content">
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="body">
                <h2 style="margin-top: 3vw;">Team Calendar</h2>
                <iframe id="calendar" allowtransparency="true" src="https://calendar.google.com/calendar/b/0/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=aGFya2VyLm9yZ19rZmc3cWJsZ2w4MXNlNGRjanRsNWRpNDhka0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%238A2D38&amp;showTabs=0&amp;showPrint=0&amp;showCalendars=0" style="border:solid 1px #777" width="80%" height="600" frameborder="0" scrolling="no"></iframe>             
            </div>
            <%- include(__base + 'views/new/partials/footer.ejs') %>
        </div>
    </body>
</html>
