<!DOCTYPE html>
<html>
    <head>
        <title>Media - Harker Robotics</title>    
        <%- include(__base + 'views/new/partials/analytics.ejs') %>

        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">
        

         <!-- Site Styles -->
         <link rel="stylesheet" href="new/css/theme.css" />
         <link rel="stylesheet" href="new/css/splash.css" />
         <link rel="stylesheet" href="new/css/header.css" />
         <link rel="stylesheet" href="new/css/footer.css" />

         <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/media.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
        <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id="content">
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="body">
                <h1 id="media-title">Media</h1>
                <h2 id="team-videos-title">Videos</h2>
                <div id="team-videos">
                    <div class="media-card">
                        <h3 class="media-title">Season Recap</h3>
                        <iframe class="media-video" src="https://www.youtube.com/embed/DBI4mcDPnq0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="media-card">
                        <h3 class="media-title">Sacramento and Houston Recap</h3>
                        <iframe class="media-video" src="https://www.youtube.com/embed/YPKJjokdZ8c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    </div>
                    <div class="media-card">
                        <h3 class="media-title">Central Valley Regional Recap</h3>
                        <iframe class="media-video" src="https://www.youtube.com/embed/q29h3ALmlQs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    </div>
                    <div class="media-card">
                        <h3 class="media-title">Robot Reveal</h3>
                        <iframe class="media-video" src="https://www.youtube.com/embed/oDzwGE3Y1GA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    </div>
                </div>
                <h2 id="team-pictures-title">Pictures</h2>
                <div id="team-pictures">
                    <div class="media-card">
                        <a href="https://photos.app.goo.gl/YV2JPRLnuXznyVPp7" class="no-style-a" target="_blank">
                            <h3 class="media-title" style="float:left">Sacramento Regional</h3>
                        </a>
                        <a href="https://photos.app.goo.gl/YV2JPRLnuXznyVPp7" target="_blank">
                            <img class="media-picture" src="/new/img/media/media/SAC.png" />
                            <img src="/new/img/svg/ink_link_new_tab_open_outside_url_iconsize128-512.png" class="media-new-link-icon" />
                        </a>
                    </div>
                    <div class="media-card">
                        <a href="https://photos.app.goo.gl/tgnfbjR8nxqtN4qP6" class="no-style-a" target="_blank">
                            <h3 class="media-title" style="float: left">Central Valley Regional</h3>
                        </a>
                        <a href="https://photos.app.goo.gl/tgnfbjR8nxqtN4qP6" target="_blank">
                            <img class="media-picture" src="/new/img/media/media/CVR.png" />
                            <img src="/new/img/svg/ink_link_new_tab_open_outside_url_iconsize128-512.png" class="media-new-link-icon" />
                        </a>
                    </div>
                </div>
            </div>
            <%- include(__base + 'views/new/partials/footer.ejs') %>
        </div>
    </body>
</html>