<!DOCTYPE html>
<html>
    <head>
        <title>About - Harker Robotics</title>    
        <%- include(__base + 'views/new/partials/analytics.ejs') %>

        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">

         <!-- Site Styles -->
         <link rel="stylesheet" href="new/css/theme.css" />
         <link rel="stylesheet" href="new/css/splash.css" />
         <link rel="stylesheet" href="new/css/header.css" />
         <link rel="stylesheet" href="new/css/footer.css" />

         <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/member.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
            <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id=content>
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="header-navigation-invis"></div>
            <div id="body">
                <div id="members">
                    <h1>Members</h1>
                    <h2>The 2020 Harker Robotics Team</h2>
                    <img id="team-picture" src="/new/img/media/about/team-picture.JPG" />
                </div>
                <div id="leaders">
                    <h1>Leadership</h1>
                    <h2>Presidents</h2>
                    <p>Presidents oversee our broader vision and ensure the smooth function and success of our team.</p>
                    <div id="triumvirate">
                        <div class="leader">
                            <h4 class="individual-title">Technical President</h4>
                            <img class="leader-image" src="new/img/faces/cao.jpg" />
                            <h5>Ethan Cao</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Executive President</h4>
                            <img class="leader-image" src="new/img/faces/jia.jpg" />
                            <h5>Angela Jia</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Operational President</h4>
                            <img class="leader-image" src="new/img/faces/zhu.jpg" />
                            <h5>Gloria Zhu</h5>
                        </div>
                    </div>
                    <h2>Directors</h2>
                    <p>Directors operate directly under presidents and manage specific subteam functions.</p>
                    <h3>Technical Directors</h3>
                    <div id="tech-directors">
                        <div class="leader">
                            <h4 class="individual-title">Design Director</h4>
                            <img class="leader-image" src="new/img/faces/liou.jpg" />
                            <h5>Alex Liou</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Mechanical Director</h4>
                            <img class="leader-image" src="new/img/faces/olsen.jpg" />
                            <h5>Kate Olsen</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Machining Director</h4>
                            <img class="leader-image" src="new/img/faces/pai.jpg" />
                            <h5>Anish Pai</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Electrical Director</h4>
                            <img class="leader-image" src="new/img/faces/garvey.jpg" />
                            <h5>Dennis Garvey</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Software Director</h4>
                            <img class="leader-image" src="new/img/faces/kaushik.jpg" />
                            <h5>Chirag Kaushik</h5>
                        </div>
                    </div>
                    <h3>Operations Directors</h3>
                    <div id="opsgang">
                        <div class="leader">
                            <h4 class="individual-title">App Development Director</h4>
                            <img class="leader-image" src="new/img/faces/dixit.jpg" />
                            <h5>Arjun Dixit</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Outreach Co-Director</h4>
                            <img class="leader-image" src="new/img/faces/wang.jpg" />
                            <h5>Aimee Wang</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Outreach Co-Director</h4>
                            <img class="leader-image" src="new/img/faces/praun-petrovic.jpg" />
                            <h5>Ada Praun-Petrovic</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Scouting Director</h4>
                            <img class="leader-image" src="new/img/faces/jain.jpg" />
                            <h5>Prakrit Jain</h5>
                        </div>
                    </div>
                    <a class="no-style-a" href="/pastleadership"><button>Past Leadership</button></a>
                </div>
            </div>
            <%- include(__base + 'views/new/partials/footer.ejs') %>

        </div>
    </body>
</html>
