<!DOCTYPE html>
<html>
    <head>
        <title>About | Harker Robotics</title>    
        <%- include(__base + 'views/new/partials/analytics.ejs') %>

        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">

         <!-- Site Styles -->
         <link rel="stylesheet" href="new/css/theme.css" />
         <link rel="stylesheet" href="new/css/splash.css" />
         <link rel="stylesheet" href="new/css/header.css" />
         <link rel="stylesheet" href="new/css/footer.css" />

         <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/member.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
            <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id=content>
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="header-navigation-invis"></div>
            <div id="body">
                <!-- <div id="members">
                    <h1>Members</h1>
                    <h2>The 2022 Harker Robotics Team</h2>
                    <img id="team-picture" src="/new/img/media/about/team-picture.JPG" />
                </div> -->
                <div id="leaders">
                    <h1>Leadership</h1>
                    <h2>Presidents</h2>
                    <p>Presidents oversee our broader vision and ensure the smooth function and success of our team.</p>
                    <div id="opsgang">
                        <div class="leader">
                            <h4 class="individual-title">Executive President</h4>
                            <img class="leader-image" src="new/img/faces/25deeyav.jpg" />
                            <h5>Deeya Verma</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Operations President</h4>
                            <img class="leader-image" src="new/img/faces/25tiffanyg.jpg" />
                            <h5>Tiffany Gu</h5>
                        </div>
                    </div>
                    <div id="opsgang">
                        <div class="leader">
                            <h4 class="individual-title">Technical President</h4>
                            <img class="leader-image" src="new/img/faces/25atharvg.jpg" />
                            <h5>Atharv Goel</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Technical Vice-President</h4>
                            <img class="leader-image" src="new/img/faces/26brennar.jpg" />
                            <h5>Brenna Ren</h5>
                        </div>
                    </div>
                    <h2>Directors</h2>
                    <p>Directors operate directly under presidents and manage specific subteam functions.</p>
                    <h3>Technical Directors</h3>
                    <div id="opsgang">
                        <div class="leader">
                            <h4 class="individual-title">Mechanical<br>Director</h4>
                            <img class="leader-image" src="new/img/faces/26mihirk.jpg" />
                            <h5>Mihir Kotbagi</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Machining<br>Director</h4>
                            <img class="leader-image" src="new/img/faces/25akulg.jpg" />
                            <h5>Akul Goyal</h5>
                        </div>
                    </div>
                    <div id="tech-directors-2">
                        <div class="leader">
                            <h4 class="individual-title">Software Director</h4>
                            <img class="leader-image" src="new/img/faces/25chilingh.jpg" />
                            <h5>Chiling Han</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Electrical/Field Fabrication<br>Director</h4>
                            <img class="leader-image" src="new/img/faces/25agastyar.jpg" />
                            <h5>Agastya Ravuri</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Design Director</h4>
                            <img class="leader-image" src="new/img/faces/25aaronc.jpg" />
                            <h5>Aaron Chen</h5>
                        </div>
                    </div>
                    <h3>Operations Directors</h3>
                    <div id="opsgang">
                        <div class="leader">
                            <h4 class="individual-title">App Development Co-Director</h4>
                            <img class="leader-image" src="new/img/faces/25danielg.jpg" />
                            <h5>Daniel Gergov</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">App Development Co-Director</h4>
                            <img class="leader-image" src="new/img/faces/26benjaminx.jpg" />
                            <h5>Benjamin Xia</h5>
                        </div>
                    </div>
                    <div id="tech-directors-2">
                        <div class="leader">
                            <h4 class="individual-title">Outreach Director</h4>
                            <img class="leader-image" src="new/img/faces/25sophiaz.jpg" />
                            <h5>Sophia Zhu</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Scouting/Stragety<br>Director</h4>
                            <img class="leader-image" src="new/img/faces/26arturov.jpg" />
                            <h5>Arturo Vilalta</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Media/PR Director</h4>
                            <img class="leader-image" src="new/img/faces/26charliew.jpg" />
                            <h5>Charlie Wang</h5>
                        </div>
                    </div>
                    <a class="no-style-a" href="/pastleadership"><button>Past Leadership</button></a>
                </div>
            </div>
            <%- include(__base + 'views/new/partials/footer.ejs') %>

        </div>
    </body>
</html>
