<!DOCTYPE html>
<html>
    <head>
        <title>About | Harker Robotics</title>    
        <%- include(__base + 'views/new/partials/analytics.ejs') %>

        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">

         <!-- Site Styles -->
         <link rel="stylesheet" href="new/css/theme.css" />
         <link rel="stylesheet" href="new/css/splash.css" />
         <link rel="stylesheet" href="new/css/header.css" />
         <link rel="stylesheet" href="new/css/footer.css" />

         <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/member.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
            <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id=content>
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="header-navigation-invis"></div>
            <div id="body">
                <!-- <div id="members">
                    <h1>Members</h1>
                    <h2>The 2022 Harker Robotics Team</h2>
                    <img id="team-picture" src="/new/img/media/about/team-picture.JPG" />
                </div> -->
                <div id="leaders">
                    <h1>Leadership</h1>
                    <h2>Presidents</h2>
                    <p>Presidents oversee our broader vision and ensure the smooth function and success of our team.</p>
                    <div id="triumvirate">
                        <div class="leader">
                            <h4 class="individual-title">Technical President</h4>
                            <img class="leader-image" src="new/img/faces/24vivekn.jpg" />
                            <h5>Vivek Nayyar</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Executive President</h4>
                            <img class="leader-image" src="new/img/faces/23emmab.jpg" />
                            <h5>Emma Biswas</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Operational President</h4>
                            <img class="leader-image" src="new/img/faces/23adap.jpg" />
                            <h5>Ada Praun-Petrovic</h5>
                        </div>
                    </div>
                    <h2>Directors</h2>
                    <p>Directors operate directly under presidents and manage specific subteam functions.</p>
                    <h3>Technical Directors</h3>
                    <div id="opsgang">
                        <div class="leader">
                            <h4 class="individual-title">Software Co-Director</h4>
                            <img class="leader-image" src="new/img/faces/23kunalj.jpg" />
                            <h5>Kunal Jain</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Software Co-Director</h4>
                            <img class="leader-image" src="new/img/faces/25chilingh.jpg" />
                            <h5>Chiling Han</h5>
                        </div>
                    </div>
                    <div id="opsgang">
                        <div class="leader">
                            <h4 class="individual-title">Mech/Machining<br>Co-Director</h4>
                            <img class="leader-image" src="new/img/faces/24salonis.jpg" />
                            <h5>Saloni Shah</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Mech/Machining<br>Co-Director</h4>
                            <img class="leader-image" src="new/img/faces/23lauriej.jpg" />
                            <h5>Laurie Jin</h5>
                        </div>
                    </div>
                    <div id="opsgang">
                        <div class="leader">
                            <h4 class="individual-title">Design Director</h4>
                            <img class="leader-image" src="new/img/faces/24saniag.jpg" />
                            <h5>Sania Gupta</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Electrical Director</h4>
                            <img class="leader-image" src="new/img/faces/24dhruvt.jpg" />
                            <h5>Dhruv Trivedi</h5>
                        </div>
                    </div>
                    <h3>Operations Directors</h3>
                    <div id="opsgang">
                        <div class="leader">
                            <h4 class="individual-title">App Development Director</h4>
                            <img class="leader-image" src="new/img/faces/24kabirr.jpg" />
                            <h5>Kabir Ramzan</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Outreach Director</h4>
                            <img class="leader-image" src="new/img/faces/25tiffanyg.jpg" />
                            <h5>Tiffany Gu</h5>
                        </div>
                    </div>
                    <div id="opsgang">
                        <div class="leader">
                            <h4 class="individual-title">Scouting/Strategy Director</h4>
                            <img class="leader-image" src="new/img/faces/24aeliyag.jpg" />
                            <h5>Aeliya Grover</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Media/PR Director</h4>
                            <img class="leader-image" src="new/img/faces/25sophial.jpg" />
                            <h5>Sophia Liu</h5>
                        </div>
                    </div>
                    <a class="no-style-a" href="/pastleadership"><button>Past Leadership</button></a>
                </div>
            </div>
            <%- include(__base + 'views/new/partials/footer.ejs') %>

        </div>
    </body>
</html>
