<!DOCTYPE html>
<html>
    <head>
        <title>Outreach - Harker Robotics</title>    
        <%- include(__base + 'views/new/partials/analytics.ejs') %>

        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">

         <!-- Site Styles -->
         <link rel="stylesheet" href="new/css/theme.css" />
         <link rel="stylesheet" href="new/css/splash.css" />
         <link rel="stylesheet" href="new/css/header.css" />
         <link rel="stylesheet" href="new/css/footer.css" />

         <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/outreach.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
        <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id="content">
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="body">
                <h1 id="outreach-title">Outreach</h1>
                <p id="outreach-info">One of our duties as an FRC team is to spread FIRST® and develop STEM in our local community. We strive to accomplish this by involving more people around us with engineering and robotics.</p>
                <div id="primary-outreach">
                    <img class="primary-outreach-image" src="new/img/media/outreach/wonderbots.png" />
                    <div class="primary-outreach-wrapper">
                        <h3>Wonderbots</h3>
                        <p>We offer a robotics program for middle school girls using Lego™ EV3 robots.</p>
                    </div>
                    <div class="primary-outreach-wrapper">
                        <h3>FLL</h3>
                        <p>Our members mentor FLL teams comprised of local middle school students.</p>
                    </div>
                    <img class="primary-outreach-image" src="new/img/media/outreach/fll.png" />
                    <img class="primary-outreach-image" src="new/img/media/outreach/summercamp.png" />
                    <div class="primary-outreach-wrapper">
                        <h3>Summer Camp</h3>
                        <p>Our team hosts an annual summer camp open to all incoming high-schoolers interested in learning more about robotics.</p>
                    </div>
                </div>
                <h2>Other Events</h2>
                <div id="other-events">
                    <div class="other-event">
                        <img class="other-event-image" src="new/img/media/outreach/grandparentsday.png" />
                        <p class="other-event-description">Grandparents Day</p>
                    </div>
                    <div class="other-event">
                        <img class="other-event-image" src="new/img/media/outreach/santanarow.png" />
                        <p class="other-event-description">Santana Row</p>
                    </div>
                    <div class="other-event">
                        <img class="other-event-image" src="new/img/media/outreach/symposium.png" />
                        <p class="other-event-description">Research Symposium</p>
                    </div>
                </div>
            </div>
            <%- include(__base + 'views/new/partials/footer.ejs') %>
        </div>
    </body>
</html>