<!DOCTYPE html>
<html>
    <head>
        <title>Outreach | Harker Robotics</title>    
        <%- include(__base + 'views/new/partials/analytics.ejs') %>

        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

         <!-- Site Styles -->
         <link rel="stylesheet" href="new/css/theme.css" />
         <link rel="stylesheet" href="new/css/splash.css" />
         <link rel="stylesheet" href="new/css/header.css" />
         <link rel="stylesheet" href="new/css/footer.css" />

         <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/outreach.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
        <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id="content">
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="header-navigation-invis"></div>
            <div id="body">
                <h1 id="outreach-title">Outreach</h1>
                <p id="outreach-info">Our team believes that service and teaching are essential parts of any educational endeavor. We share our knowledge and passion for STEAM and engineering with our local community through FIRST® programs, public demonstrations, training camps, and more.</p>
                <div id="outreach-cards">
                    <div class="outreach-card">
                        <img class="outreach-image" src="/new/img/media/outreach/2023/santanarow-small.png" />
                        <div class="outreach-text-wrapper">
                            <p class="outreach-text-title">Santana Row</p>
                            <p class="outreach-text">We allow kids to drive and interact with our robot using a DDR pad.</p>
                        </div>
                    </div>
                    <div class="outreach-card">
                        <img class="outreach-image" src="/new/img/media/outreach/2023/backtoschool-small.png" />
                        <div class="outreach-text-wrapper">
                                <p class="outreach-text-title">Back to School Day</p>

                            <p class="outreach-text">We showcase our robot to Harker students and parents.</p>
                        </div>
                    </div>
                    <div class="outreach-card">
                        <img class="outreach-image" src="/new/img/media/outreach/2023/fll-small.png" />
                        <div class="outreach-text-wrapper">
                                <p class="outreach-text-title">FLL</p>

                            <p class="outreach-text">Students build and program Lego EV3 Mindstorms robots and compete in intramurals/competitions.</p>
                        </div>
                    </div>
                    <div class="outreach-card">
                        <img class="outreach-image" src="/new/img/media/outreach/2023/vex-small.png" />
                        <div class="outreach-text-wrapper">
                                <p class="outreach-text-title">VEX</p>
                            <p class="outreach-text">We mentor 6 VEX teams, introducing middle school students to robotics.</p>
                        </div>
                    </div>
                    <div class="outreach-card">
                        <img class="outreach-image" src="/new/img/media/outreach/2023/summercamp-small.jpg" />
                        <div class="outreach-text-wrapper">
                                <p class="outreach-text-title" data-summercamp>Summer Camp</p>
                            <p class="outreach-text">Our team hosts an annual summer training camp for new members.</p>
                        </div>
                    </div>
                    <div class="outreach-card">
                        <img class="outreach-image" src="/new/img/media/outreach/2023/wonderbots-small.png" />
                        <div class="outreach-text-wrapper">
                                <p class="outreach-text-title">Wonderbots</p>
                            <p class="outreach-text">We offer a robotics program for middle school girls to encourage women in STEM.</p>
                        </div>
                    </div>
                </div>
                <a target="_blank" href="https://thepurplewarehouse.com" id="tpw-img-anchor">
                    <img src="/new/img/media/outreach/tpw-logo.png" id="tpw-logo">
                </a>
                <h1 id="outreach-title" class="compact">The Purple Warehouse</h1>
                <a href="https://thepurplewarehouse.com" id="outreach-link">thepurplewarehouse.com</a>
                <p id="outreach-info">The Purple Warehouse is our scouting app and analyzer which allows any team to scout through our interface, with the ability to access their own data and entries from other teams using TPW. The app also contains an accuracy score for each scouting entry, enabling better strategy and analysis tools.
                </p>
                <br>
                <h1 id="outreach-title" class="compact">The Purple Standard</h1>
                <a href="https://thepurplestandard.com" id="outreach-link">thepurplestandard.com</a>
                <p id="outreach-info">The Purple Standard (TPS) is a unified, community-driven standard for FRC
                    scouting data. The goal of TPS is to provide a flexible and consistent data format for
                    scouting to allow any team to easily share scouting data regardless of which
                    app or interface is used.
                </p>
            </div>
            <%- include(__base + 'views/new/partials/footer.ejs') %>
        </div>
    </body>
</html>
