<!DOCTYPE html>
<html>
    <head>
        <title>Past Leadership | Harker Robotics</title>    
        <%- include(__base + 'views/new/partials/analytics.ejs') %>

        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">

         <!-- Site Styles -->
         <link rel="stylesheet" href="new/css/theme.css" />
         <link rel="stylesheet" href="new/css/splash.css" />
         <link rel="stylesheet" href="new/css/header.css" />
         <link rel="stylesheet" href="new/css/footer.css" />

         <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/member.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
            <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id=content>
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="header-navigation-invis"></div>
            <div id="body">
                <div id="header">
                    <h1>Past Leadership</h1>
                </div>
                <div class="year-div">
                    <h2>2023-2024</h2>
                    <div class="year-div-inner">
                        <div class="year-div-item">
                            <span>Executive President</span>
                            <span>Aeliya Grover</span>
                        </div>
                        <div class="year-div-item">
                            <span>Technical President</span>
                            <span>Chiling Han</span>
                        </div>
                        <div class="year-div-item">
                            <span>Operations President</span>
                            <span>Tiffany Gu</span>
                        </div>
                        <div class="year-div-item">
                            <span>Design Co-Director</span>
                            <span>Sania Gupta</span>
                        </div>
                        <div class="year-div-item">
                            <span>Design Co-Director</span>
                            <span>Ronald Cartee</span>
                        </div>
                        <div class="year-div-item">
                            <span>Design Co-Director</span>
                            <span>Brindha Chandran</span>
                        </div>
                        <div class="year-div-item">
                            <span>Electrical Director</span>
                            <span>Brenden Hayes</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mech/Machining Co-Director</span>
                            <span>Akul Goyal</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mech/Machining Co-Director</span>
                            <span>Atharv Goyal</span>
                        </div>
                        <div class="year-div-item">
                            <span>Software Co-Director</span>
                            <span>Brenna Ren</span>
                        </div>
                        <div class="year-div-item">
                            <span>Software Co-Director</span>
                            <span>Benjamin Xia</span>
                        </div>
                        <div class="year-div-item">
                            <span>Application Development Director</span>
                            <span>Kabir Ramzan</span>
                        </div>
                        <div class="year-div-item">
                            <span>Game Strategy Director</span>
                            <span>Deeya Verma</span>
                        </div>
                        <div class="year-div-item">
                            <span>Outreach Director</span>
                            <span>Ceren Erdogan</span>
                        </div>
                        <div class="year-div-item">
                            <span>Media/PR Director</span>
                            <span>Sophia Liu</span>
                        </div>
                    </div>
                </div>
                <div class="year-div">
                    <h2>2022-2023</h2>
                    <div class="year-div-inner">
                        <div class="year-div-item">
                            <span>Executive President</span>
                            <span>Emma Biswas</span>
                        </div>
                        <div class="year-div-item">
                            <span>Technical President</span>
                            <span>Vivek Nayyar</span>
                        </div>
                        <div class="year-div-item">
                            <span>Operations President</span>
                            <span>Ada Praun-Petrovic</span>
                        </div>
                        <div class="year-div-item">
                            <span>Design Director</span>
                            <span>Sania Gupta</span>
                        </div>
                        <div class="year-div-item">
                            <span>Electrical Director</span>
                            <span>Dhruv Trivedi</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mech/Machining Co-Director</span>
                            <span>Laurie Jin</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mech/Machining Co-Director</span>
                            <span>Ashwin Kuppahally</span>
                        </div>
                        <div class="year-div-item">
                            <span>Software Director</span>
                            <span>Chiling Han</span>
                        </div>
                        <div class="year-div-item">
                            <span>Application Development Director</span>
                            <span>Kabir Ramzan</span>
                        </div>
                        <div class="year-div-item">
                            <span>Scouting Director</span>
                            <span>Aeliya Grover</span>
                        </div>
                        <div class="year-div-item">
                            <span>Outreach Director</span>
                            <span>Tiffany Gu</span>
                        </div>
                        <div class="year-div-item">
                            <span>Media/PR Director</span>
                            <span>Sophia Liu</span>
                        </div>
                    </div>
                </div>
                <div class="year-div">
                    <h2>2021-2022</h2>
                    <div class="year-div-inner">
                        <div class="year-div-item">
                            <span>Executive President</span>
                            <span>Angela Jia</span>
                        </div>
                        <div class="year-div-item">
                            <span>Technical President</span>
                            <span>Ethan Cao</span>
                        </div>
                        <div class="year-div-item">
                            <span>Operations President</span>
                            <span>Gloria Zhu</span>
                        </div>
                        <div class="year-div-item">
                            <span>Design Director</span>
                            <span>Alex Liou</span>
                        </div>
                        <div class="year-div-item">
                            <span>Electrical Director</span>
                            <span>Dennis Garvey</span>
                        </div>
                        <div class="year-div-item">
                            <span>Machining Director</span>
                            <span>Anish Pai</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mechanical Co-Director</span>
                            <span>Pranav Gupta</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mechanical Co-Director</span>
                            <span>Kate Olsen</span>
                        </div>
                        <div class="year-div-item">
                            <span>Software Director</span>
                            <span>Chirag Kaushik</span>
                        </div>
                        <div class="year-div-item">
                            <span>Application Development Director</span>
                            <span>Arjun Dixit</span>
                        </div>
                        <div class="year-div-item">
                            <span>Scouting Co-Director</span>
                            <span>Prakrit Jain</span>
                        </div>
                        <div class="year-div-item">
                            <span>Scouting Co-Director</span>
                            <span>Zach Clark</span>
                        </div>
                        <div class="year-div-item">
                            <span>Outreach Co-Director</span>
                            <span>Aimee Wang</span>
                        </div>
                        <div class="year-div-item">
                            <span>Outreach Co-Director</span>
                            <span>Ada Praun-Petrovic</span>
                        </div>
                    </div>
                </div>
                <div class="year-div">
                    <h2>2020-2021</h2>
                    <div class="year-div-inner">
                        <div class="year-div-item">
                            <span>Executive President</span>
                            <span>Chloe Affaki</span>
                        </div>
                        <div class="year-div-item">
                            <span>Technical President</span>
                            <span>Arthur Jakobsson</span>
                        </div>
                        <div class="year-div-item">
                            <span>Operations President</span>
                            <span>Hari Bhimaraju</span>
                        </div>
                        <div class="year-div-item">
                            <span>Design Director</span>
                            <span>Aditi Vinod</span>
                        </div>
                        <div class="year-div-item">
                            <span>Electrical Co-Director</span>
                            <span>Ethan Cao</span>
                        </div>
                        <div class="year-div-item">
                            <span>Electrical Co-Director</span>
                            <span>Dennis Garvey</span>
                        </div>
                        <div class="year-div-item">
                            <span>Machining Director</span>
                            <span>Pranav Gupta</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mechanical Director</span>
                            <span>Ankita Kundu</span>
                        </div>
                        <div class="year-div-item">
                            <span>Software Co-Director</span>
                            <span>Angela Jia</span>
                        </div>
                        <div class="year-div-item">
                            <span>Software Co-Director</span>
                            <span>Chirag Kaushik</span>
                        </div>
                        <div class="year-div-item">
                            <span>Application Development Director</span>
                            <span>Arjun Dixit</span>
                        </div>
                        <div class="year-div-item">
                            <span>Scouting Director</span>
                            <span>Prakrit Jain</span>
                        </div>
                        <div class="year-div-item">
                            <span>PR Director</span>
                            <span>Gloria Zhu</span>
                        </div>
                    </div>
                </div>
                <div class="year-div">
                    <h2>2019-2020</h2>
                    <div class="year-div-inner">
                        <div class="year-div-item">
                            <span>Executive President</span>
                            <span>Finn Frankis</span>
                        </div>
                        <div class="year-div-item">
                            <span>Technical President</span>
                            <span>Sanjay Rajasekharan</span>
                        </div>
                        <div class="year-div-item">
                            <span>Operations President</span>
                            <span>Hari Bhimaraju</span>
                        </div>
                        <div class="year-div-item">
                            <span>Design Director</span>
                            <span>Aditi Vinod</span>
                        </div>
                        <div class="year-div-item">
                            <span>Design Lead</span>
                            <span>Alex Liou</span>
                        </div>
                        <div class="year-div-item">
                            <span>Design Lead</span>
                            <span>Gloria Zhu</span>
                        </div>
                        <div class="year-div-item">
                            <span>Electrical Co-Director</span>
                            <span>Ethan Cao</span>
                        </div>
                        <div class="year-div-item">
                            <span>Electrical Co-Director</span>
                            <span>Quentin Clark</span>
                        </div>
                        <div class="year-div-item">
                            <span>Electrical Lead</span>
                            <span>Dennis Garvey</span>
                        </div>
                        <div class="year-div-item">
                            <span>Machining Director</span>
                            <span>Chloe Affaki</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mechanical Director</span>
                            <span>Rohan Sonecha</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mechanical Lead</span>
                            <span>Kate Olsen</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mechanical Lead</span>
                            <span>Ankita Kundu</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mechanical Lead</span>
                            <span>Arthur Jakobsson</span>
                        </div>
                        <div class="year-div-item">
                            <span>Software Co-Director</span>
                            <span>Angela Jia</span>
                        </div>
                        <div class="year-div-item">
                            <span>Software Co-Director</span>
                            <span>Jatin Kohli</span>
                        </div>
                        <div class="year-div-item">
                            <span>Application Development Director</span>
                            <span>Chirag Kaushik</span>
                        </div>
                        <div class="year-div-item">
                            <span>Scouting Leads</span>
                            <span>Zach Clark, Prakrit Jain</span>
                        </div>
                        <div class="year-div-item">
                            <span>Imagery Director</span>
                            <span>Gloria Zhu</span>
                        </div>
                        <div class="year-div-item">
                            <span>FLL Lead</span>
                            <span>Aimee Wang</span>
                        </div>
                    </div>
                </div>
                <div class="year-div">
                    <h2>2018-2019</h2>
                    <div class="year-div-inner">
                        <div class="year-div-item">
                            <span>Executive President</span>
                            <span>Joel Manning</span>
                        </div>
                        <div class="year-div-item">
                            <span>Operational President</span>
                            <span>Rahul Goyal</span>
                        </div>
                        <div class="year-div-item">
                            <span>Technical President</span>
                            <span>Rithvik Panchapakesan</span>
                        </div>
                        <div class="year-div-item">
                            <span>VP of Mechanical</span>
                            <span>Puneet Nayyar</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mechanical Project Lead</span>
                            <span>Rohan Sonecha</span>
                        </div>
                        <div class="year-div-item">
                            <span>VP of Design</span>
                            <span>Christopher Leafstrand</span>
                        </div>
                        <div class="year-div-item">
                            <span>VP of Electrical</span>
                            <span>Sanjay Rajasekharan</span>
                        </div>
                        <div class="year-div-item">
                            <span>Electrical Project Lead</span>
                            <span>Quentin Clark</span>
                        </div>
                        <div class="year-div-item">
                            <span>VP of Software</span>
                            <span>Finn Frankis</span>
                        </div>
                        <div class="year-div-item">
                            <span>Software Project Lead</span>
                            <span>Jatin Kohli</span>
                        </div>
                        <div class="year-div-item">
                            <span>Vision Lead</span>
                            <span>Ryan Adolf</span>
                        </div>
                        <div class="year-div-item">
                            <span>VP of Web Design</span>
                            <span>David Melisso</span>
                        </div>
                        <div class="year-div-item">
                            <span>Scouting Lead</span>
                            <span>Aydin Tiritoglu</span>
                        </div>
                        <div class="year-div-item">
                            <span>VP of Media</span>
                            <span>Arthur Jakobsson</span>
                        </div>
                        <div class="year-div-item">
                            <span>Imagery Lead</span>
                            <span>Anna Wang</span>
                        </div>
                        <div class="year-div-item">
                            <span>VP of Outreach</span>
                            <span>Hari Bhimaraju</span>
                        </div>
                        <div class="year-div-item">
                            <span>WonderBots Lead</span>
                            <span>Chloe Affaki</span>
                        </div>
                    </div>
                </div>
                <div class="year-div">
                    <h2>2017-2018</h2>
                    <div class="year-div-inner">
                        <div class="year-div-item">
                            <span>Executive President</span>
                            <span>Aria</span>
                        </div>
                        <div class="year-div-item">
                            <span>Technical President</span>
                            <span>Sunny</span>
                        </div>
                        <div class="year-div-item">
                            <span>Operations President</span>
                            <span>Nemo</span>
                        </div>
                        <div class="year-div-item">
                            <span>VP Events Coordinator</span>
                            <span>Rithvik</span>
                        </div>
                        <div class="year-div-item">
                            <span>VP of PR</span>
                            <span>Anna</span>
                        </div>
                        <div class="year-div-item">
                            <span>VP of Media</span>
                            <span>Nash</span>
                        </div>
                        <div class="year-div-item">
                            <span>VP of Web Design</span>
                            <span>David</span>
                        </div>
                    </div>
                </div>
                <div class="year-div">
                    <h2>2016-2017</h2>
                    <div class="year-div-inner">
                        <div class="year-div-item">
                            <span>Executive President</span>
                            <span>Andrew Tierno</span>
                        </div>
                        <div class="year-div-item">
                            <span>Executive Managing Director</span>
                            <span>Neymika Jain</span>
                        </div>
                        <div class="year-div-item">
                            <span>Technical President</span>
                            <span>Jonathan Nativ</span>
                        </div>
                        <div class="year-div-item">
                            <span>Operational President</span>
                            <span>James He</span>
                        </div>
                        <div class="year-div-item">
                            <span>Director of Public Facing Operations</span>
                            <span>Nina Levy</span>
                        </div>
                        <div class="year-div-item">
                            <span>Vice President of Mechanical</span>
                            <span>Albert Xu</span>
                        </div>
                        <div class="year-div-item">
                            <span>Vice President of Electrical</span>
                            <span> Karthik Sundaram</span>
                        </div>
                        <div class="year-div-item">
                            <span>Vice President of Software Development</span>
                            <span>Joel Manning</span>
                        </div>
                        <div class="year-div-item">
                            <span>Vice President of Operations Software</span>
                            <span>Ashwin Reddy</span>
                        </div>
                        <div class="year-div-item">
                            <span>Vice President of Operations</span>
                            <span>Austin Zhang</span>
                        </div>
                        <div class="year-div-item">
                            <span>Vice President of Promotional Media</span>
                            <span>Anna Wang</span>
                        </div>
                        <div class="year-div-item">
                            <span>Webmaster</span>
                            <span>David Melisso</span>
                        </div>
                        <div class="year-div-item">
                            <span>Drivetrain Head</span>
                            <span>Sunny Jayam</span>
                        </div>
                        <div class="year-div-item">
                            <span>NCWIT & Wonderbots Head</span>
                            <span>Anooshree Sengupta</span>
                        </div>
                        <div class="year-div-item">
                            <span>CAD Head</span>
                            <span>Christopher Leafstrand</span>
                        </div>
                    </div>
                </div>
                <div class="year-div">
                    <h2>2015-2016</h2>
                    <div class="year-div-inner">
                        <div class="year-div-item">
                            <span>Executive President</span>
                            <span>Michael Moncton</span>
                        </div>
                        <div class="year-div-item">
                            <span>Operatonal President</span>
                            <span>Neymika Jain</span>
                        </div>
                        <div class="year-div-item">
                            <span>Technical President</span>
                            <span>Elina Sendonaris</span>
                        </div>
                        <div class="year-div-item">
                            <span>Mechanical Head</span>
                            <span>Isaac Smith</span>
                        </div>
                        <div class="year-div-item">
                            <span>Electrical Head</span>
                            <span>Jonathan Nativ</span>
                        </div>
                        <div class="year-div-item">
                            <span>Programming Head</span>
                            <span>Andrew Tierno</span>
                        </div>
                        <div class="year-div-item">
                            <span>Operations Head</span>
                            <span>Nina Levy</span>
                        </div>
                        <div class="year-div-item">
                            <span>Promotional Media Head</span>
                            <span>Alexandra Gross</span>
                        </div>
                    </div>
                </div>
                <div class="year-div">
                    <h2>2014-2015</h2>
                        <div class="year-div-inner">
                            <div class="year-div-item">
                                <span>Executive President</span>
                                <span>Sophia Shatas</span>
                            </div>
                            <div class="year-div-item">
                                <span>Technical President</span>
                                <span>Sachit Agarwal</span>
                            </div>
                            <div class="year-div-item">
                                <span>Operations President</span>
                                <span>Matthew Cheng</span>
                            </div>
                            <div class="year-div-item">
                                <span>VP of Mechanical Fabrication</span>
                                <span>Naman Jindal</span>
                            </div>
                            <div class="year-div-item">
                                <span>VP of Electrical Systems</span>
                                <span>Nikhil Parmar</span>
                            </div>
                            <div class="year-div-item">
                                <span>VP of Image Processing</span>
                                <span>Andrew Tierno</span>
                            </div>
                            <div class="year-div-item">
                                <span>VP of Programming</span>
                                <span>Manan Shah</span>
                            </div>
                            <div class="year-div-item">
                                <span>VP of Operations</span>
                                <span>Neymika Jain</span>
                            </div>
                        </div>
                    </div>
                <div class="year-div">
                    <h2>2013-2014</h2>
                        <div class="year-div-inner">
                            <div class="year-div-item">
                                <span>Executive President</span>
                                <span>Sarika Bajaj</span>
                            </div>
                            <div class="year-div-item">
                                <span>Technical President</span>
                                <span>Michael Lin</span>
                            </div>
                            <div class="year-div-item">
                                <span>Operational President</span>
                                <span>Sophia Shatas</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Mechanical Fabrication</span>
                                <span>Brian Tuan</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Electrical Systems</span>
                                <span>Nikhil Parmar</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Software Development</span>
                                <span>Brian Chan</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Events Coordination</span>
                                <span>Glenn Reddy</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Promotional Media</span>
                                <span>Nicky Semenza</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Promotional Competitions</span>
                                <span>Gerry Zhou</span>
                            </div>
                        </div>
                    </div>
                <div class="year-div">
                    <h2>2012-2013</h2>
                        <div class="year-div-inner">
                            <div class="year-div-item">
                                <span>Executive President</span>
                                <span>Michael Yu</span>
                            </div>
                            <div class="year-div-item">
                                <span>Technical President</span>
                                <span>Ravi Tadinada</span>
                            </div>
                            <div class="year-div-item">
                                <span>Operational President</span>
                                <span>Leslie Chan</span>
                            </div>
                            <div class="year-div-item">
                                <span>Software Development Leads</span>
                                <span>Rahul Sridhar, Brian Chan, Alex Pei</span>
                            </div>
                            <div class="year-div-item">
                                <span>Mechanical Leads</span>
                                <span>Kilian Burke, Brian Tuan, Pranav Bheda, Glenn Reddy, Michael Lin</span>
                            </div>
                            <div class="year-div-item">
                                <span>Electrical Leads</span>
                                <span>Sarika Bajaj, Christopher Sund</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Operations</span>
                                <span>Sophia Shatas</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Promotional Content</span>
                                <span>Nicky Semenza</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Finance</span>
                                <span>David Grossman</span>
                            </div>
                        </div>
                    </div>
                <div class="year-div">
                    <h2>2011-2012</h2>
                        <div class="year-div-inner">
                            <div class="year-div-item">
                                <span>Executive President</span>
                                <span>Jay Reddy</span>
                            </div>
                            <div class="year-div-item">
                                <span>Technical President</span>
                                <span>Paul West</span>
                            </div>
                            <div class="year-div-item">
                                <span>Operational President</span>
                                <span>Abhinav Khanna</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Fabrication</span>
                                <span>Eric Henshall</span>
                            </div>
                            <div class="year-div-item">
                                <span>Chief Technical Advisor for Mechanical</span>
                                <span>Jason Yu</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Software Development</span>
                                <span>Michael Yu</span>
                            </div>
                            <div class="year-div-item">
                                <span>Chief Technical Advisor for Software Development</span>
                                <span>Robert Maxton</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Electronics</span>
                                <span>Ravi Tadinada</span>
                            </div>
                            <div class="year-div-item">
                                <span>Chief Technical Advisor for Electronics</span>
                                <span>Vishesh Gupta</span>
                            </div>
                            <div class="year-div-item">
                                <span>Safety Manger</span>
                                <span>Michael Kling</span>
                            </div>
                            <div class="year-div-item">
                                <span>Pit Manager</span>
                                <span>Kilian Burke</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of FIRST Team Relations</span>
                                <span>Leslie Chan</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Website Development</span>
                                <span>Devin Nguyen</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Promotional Media</span>
                                <span>Dan Chun Man Chow</span>
                            </div>
                            <div class="year-div-item">
                                <span>Project Managers</span>
                                <span>Ashley Kling, Christophe Pellissier, Mackenzie Porter, Pranav Bheda, Rishi Bhandia, Sierra Lincoln</span>
                            </div>
                        </div>
                    </div>
                <div class="year-div">
                    <h2>2010-2011</h2>
                        <div class="year-div-inner">
                            <div class="year-div-item">
                                <span>Chief Technical Advisor</span>
                                <span>Douglas Hutchings</span>
                            </div>
                            <div class="year-div-item">
                                <span>Executive President</span>
                                <span>Peter Gao</span>
                            </div>
                            <div class="year-div-item">
                                <span>Operational President</span>
                                <span>Allika Walvekar</span>
                            </div>
                            <div class="year-div-item">
                                <span>Pit Manager</span>
                                <span>Pranav Batra</span>
                            </div>
                            <div class="year-div-item">
                                <span>Safety Manager</span>
                                <span>Anne West</span>
                            </div>
                            <div class="year-div-item">
                                <span>Technical President</span>
                                <span>Paul West</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Electronics</span>
                                <span>Jay Reddy</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Fabrication</span>
                                <span>Jay Reddy</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Finance</span>
                                <span>Mackenzie Porter</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Software Development</span>
                                <span>Michael Yu</span>
                            </div>
                        </div>
                    </div>
                <div class="year-div">
                    <h2>2009-2010</h2>
                        <div class="year-div-inner">
                            <div class="year-div-item">
                                <span>Assistant Technical President</span>
                                <span>Peter Gao</span>
                            </div>
                            <div class="year-div-item">
                                <span>Executive President</span>
                                <span>Andrea Lincoln</span>
                            </div>
                            <div class="year-div-item">
                                <span>Operational President</span>
                                <span>Allika Walvekar</span>
                            </div>
                            <div class="year-div-item">
                                <span>Technical President</span>
                                <span>Mark-Phillip Pebworth</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Electronics</span>
                                <span>Jay Reddy</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Electronics</span>
                                <span>Paul West</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Fabrication</span>
                                <span>Douglas Hutchings</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Finance</span>
                                <span>Mackenzie Porter</span>
                            </div>
                            <div class="year-div-item">
                                <span>Vice President of Software Development</span>
                                <span>Alexander Fotland</span>
                            </div>
                        </div>
                    </div>
            </div>
            <%- include(__base + 'views/new/partials/footer.ejs') %>

        </div>
    </body>
</html>