<!DOCTYPE html>
<html>
    <head>
        <title>Sponsorship | Harker Robotics</title>    
        <%- include(__base + 'views/new/partials/analytics.ejs') %>

        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

         <!-- Site Styles -->
         <link rel="stylesheet" href="new/css/theme.css" />
         <link rel="stylesheet" href="new/css/splash.css" />
         <link rel="stylesheet" href="new/css/header.css" />
         <link rel="stylesheet" href="new/css/footer.css" />

         <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/sponsor.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
        <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id="content">
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="header-navigation-invis"></div>
            <div id="body">
                <h1 id="sponsors-title">Sponsors</h1>
                <!--<p id="sponsor-description">As an FRC team, sponsorships keep us afloat. We offer several rewards as a thanks for your support.</p>
                <p id="sponsor-us-please">Interested in sponsoring us? <a id="contact-link" href="/contact">Send us a message.</a></p> -->
                <div id="sponsors">
                    <!-- <h2 id="sponsors-title">Our Sponsors</h2> -->
                    <h3 class="sponsor-tier-title blue">Blue</h3>
                    <p class="sponsor-tier-description">Blue tier sponsors receive prominent space on team t-shirts and banners, in addition to all gold and bronze benefits. ($5000+)</p>
                    <div class="sponsor-images">
                        <img class="sponsor-image big-image" src="/new/img/logo/sponsor/harker.png" />
                        <img class="sponsor-image big-image" src="/new/img/logo/sponsor/frankis.png" />
                        </div>
                    <h3 class="sponsor-tier-title gold">Gold </h3>
                    <p class="sponsor-tier-description">Gold tier sponsors receive an Instagram post thanking them for their sponsorship in addition to all bronze benefits. ($3000 - $5000)</p>
                    <div class="sponsor-images">
                        <img class="sponsor-image big-image" src="/new/img/logo/sponsor/JohnsonAndJohnson.png" />
                    </div>

                    <h3 class="sponsor-tier-title silver">Silver </h3>
                    <p class="sponsor-tier-description">Silver tier sponsors receive an Instagram story post thanking them for their sponsorship in addition to all bronze benefits. ($1000 - $3000)</p>
                    <div class="sponsor-images">
                        <img class="sponsor-image big-image" src="/new/img/logo/sponsor/Carpeteria.png" />
                    </div>

                    <h3 class="sponsor-tier-title bronze">Bronze</h3>
                    <p class="sponsor-tier-description">Bronze tier sponsors receive a place on our website and t-shirt with their logo, along with two complementary team t-shirts. (&lt;$1000)</p>
                    <div class="sponsor-images">
                        <img class="sponsor-image" src="/new/img/logo/sponsor/AlanSteel.png" />
                        <img class="sponsor-image" src="/new/img/logo/sponsor/AutomationDirect.png" />
                        <img class="sponsor-image" src="/new/img/logo/sponsor/Github.png" />
                        <img class="sponsor-image" src="/new/img/logo/sponsor/Google.png" />
                    </div>
                </div>
                <a class="no-style-a" href="/contact"><button id="sponsor-button">Sponsor Us</button></a>
            </div>
            <%- include(__base + 'views/new/partials/footer.ejs') %>
        </div>
    </body>
</html>