<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs', { title: "Create PR" }) %>
    <link rel="stylesheet" type="text/css" href="/css/purchase.css?v=3" />
    <style>
      @media screen and (max-width: 800px) {
        #add-vendor {
          padding-left: 7px;
        }
      }

      .modal-title, .modal-body, .x-btn {
        color: black;
      }

      .modal-body .form-group {
        margin: 0 0 10px;
      }

    </style>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>
    <header>
      <div class="container-fluid">
        <form class="form-horizontal" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <h1 class="title"> CREATE PURCHASE </h1>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="premade">Premade Vendor</label>
            <div class="col-sm-10 col-lg-8">
              <select name="premade" id="premade" class="form-control" style="display: inline;width: 91.5%;">
                <option value="_custom">Custom...</option>
                <% vendors.forEach((vendor) => { %>
                  <option value="<%= vendor.name %>"><%= vendor.name %></option>
                <% }); %>
              </select>
              <button type="button" id="add-vendor" class="btn btn-info" style="width: 7%;float: right;" data-target="#addVendorModal" data-toggle="modal" onclick="handleVendorModalShow()">Add</button>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Subteam</label>
            <div class="radio-inline col-sm-2">
              <label>
                &emsp;<input type="radio" name="subteam" value="0" /> Mech
              </label>
            </div>
            <div class="radio-inline col-sm-2">
              <label>
                <input type="radio" name="subteam" value="1" /> Electrical
              </label>
            </div>
            <div class="radio-inline col-sm-2">
              <label>
                <input type="radio" name="subteam" value="2" /> Software
              </label>
            </div>
            <div class="radio-inline col-sm-2">
              <label>
                <input type="radio" name="subteam" value="3" /> Ops
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="vendor" class="col-sm-2 control-label">Vendor Name</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control vendor-fill" name="vendor" id="vendor" />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor_phone" class="col-sm-2 control-label">Vendor Phone Number</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control vendor-fill" name="vendor_phone" id="vendor_phone" />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor_email" class="col-sm-2 control-label">Vendor Email</label>
            <div class="col-sm-10 col-lg-8">
              <input type="email" class="form-control vendor-fill" name="vendor_email" id="vendor_email" />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor_address" class="col-sm-2 control-label">Vendor Address</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control vendor-fill" name="vendor_address" id="vendor_address" />
            </div>
          </div>
          <div class="form-group">
            <label for="reason_for_purchase" class="col-sm-2 control-label">Reason For Purchase</label>
            <div class="col-sm-10 col-lg-8">
              <textarea class="form-control" rows="3" id="reason_for_purchase" name="reason_for_purchase" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="tax" class="col-sm-2 control-label">Tax</label>
            <div class="col-sm-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" name="tax" id="tax" pattern="^\d+(\.\d{0,2})?$" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="shipping_and_handling" class="col-sm-2 control-label">Shipping and Handling</label>
            <div class="col-sm-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" name="shipping_and_handling" id="shipping_and_handling" pattern="^\d+(\.\d{0,2})?$" />
              </div>
            </div>
          </div>
          <div id="parts">
            <div id="parts-drop-area" class="center">
              <p> Either upload the parts list AS A CSV here, or fill it in manually below.</p>
              <input type="file" id="fileElem" accept=".csv" onchange="handleFiles(this.files)">
              <label class="button" for="fileElem">Click or drag to upload files</label>
            </div>
            <table class="table table-bordered table-purchases">
              <thead>
                <tr>
                  <th class="center">Part URL</th>
                  <th class="center">Part #</th>
                  <th class="center">Part Name</th>
                  <th class="center">Subsystem</th>
                  <th class="center">$/Unit</th>
                  <th class="center">Quantity</th>
                  <th class="center">Add/Cut Rows</th>
                </tr>
              </thead>
              <tbody>
                <tr id="input-row">
                  <td><input type="text" id="part_url"       name="part_url"       class="form-control" /></td>
                  <td><input type="text" id="part_number"    name="part_number"    class="form-control" /></td>
                  <td><input type="text" id="part_name"      name="part_name"      class="form-control" /></td>
                  <td><input type="text" id="subsystem"      name="subsystem"      class="form-control" /></td>
                  <td><div class="input-group">
                   <span class="input-group-addon">$</span>
                   <input type="text" id="price_per_unit" name="price_per_unit" class="form-control" pattern="^\d+(\.\d{0,2})?$" />
                  </div></td>
                  <td><input type="number"  id="quantity"       name="quantity"       class="form-control" /></td>
                  <td><button type="button" id="add-row" class="btn btn-info form-control">Add</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <center>
            <input type="checkbox" id="draft-btn" name="draft">
            <label for="draft-btn">&nbsp;Draft</label>
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
            <br>
            <br>
          </center>
        </form>
      </div>

      <div class="modal fade" id="addVendorModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <h5 class="modal-title h3" id="modal-title">Add Vendor</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <form id="submit-new-vendor">
                <div class="form-group">
                  <label for="vendor-name">Name</label>
                  <input class="form-control" id="vendor-name">
                </div>
                <div class="form-group">
                  <label for="vendor-phone">Phone</label>
                  <input class="form-control" id="vendor-phone" type="tel">
                </div>
                <div class="form-group">
                  <label for="vendor-email">Email</label>
                  <input class="form-control" id="vendor-email" type="email">
                </div>
                <div class="form-group">
                  <label for="vendor-address">Address</label>
                  <input class="form-control" id="vendor-address">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <h5 style="text-align: center; visibility: hidden;" class="text-danger" id="modal-addVendor-error">Request to add vendor failed to reach database</h5>
              <button id="confirm-add-btn" type="button" class="btn btn-primary" data-dismiss="modal" onclick="handleVendorModalHide()">Add</button>
            </div>
          </div>
        </div>
      </div>

    </header>

    <script>
      var vendorData = <%- JSON.stringify(vendors) %>;
      var entityMap = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;',
        '"': '&quot;',
        "'": '&#39;',
        '/': '&#x2F;',
        '`': '&#x60;',
        '=': '&#x3D;'
        };

      function escapeHtml (string) {
        return String(string).replace(/[&<>"'`=\/]/g, function (s) {
          return entityMap[s];
        });
      }

      $("#add-row").click(function() {
        $("#parts > table > tbody").prepend(""
          + '<tr>'
          +   '<td><input type="text" name="part_url" class="form-control" value="' + escapeHtml($("#part_url").val()) + '" /></td>'
          +   '<td><input type="text" name="part_number" class="form-control" value="' + escapeHtml($("#part_number").val()) + '" /></td>'
          +   '<td><input type="text" name="part_name" class="form-control" value="' + escapeHtml($("#part_name").val()) + '" /></td>'
          +   '<td><input type="text" name="subsystem" class="form-control" value="' + escapeHtml($("#subsystem").val()) + '" /></td>'
          +   '<td><div class="input-group">'
          +     '<span class="input-group-addon">$</span>'
          +     '<input type="text" name="price_per_unit" class="form-control" value="' + $("#price_per_unit").val() + '" />'
          +   '</div></td>'
          +   '<td><input type="text" name="quantity" class="form-control" value="' + $("#quantity").val() + '" /></td>'
          +   '<td><button type="button" class="remove-row btn btn-info form-control">Remove</button></td>'
          + '</tr>'
        );
        $("#input-row input").val("");
        $(".remove-row").click(function() {
          $(this).parent().parent().remove();
        });
      });
      $(".remove-row").click(function() {
        $(this).parent().parent().remove();
      });

      var vendors = {};
      vendorData.forEach((vendor) => {
        vendors[vendor.name] = [vendor.name, vendor.phone, vendor.email, vendor.address];
      });

      $("#premade").change(function() {
        $('.vendor-fill').empty();
        var val = $(this).val();
        if (!val || val==="") return;
        var vendor = vendors[val];
        $(".vendor-fill").each(function(i, e) {
          $($(".vendor-fill")[i]).val(vendor[i]);
        });
      });

      $("#confirm-add-btn").click(function() {
        $("#addVendorModal").modal("hide")
        //let name, phone, email, address;
        let name = $("#vendor-name").val();
        let phone = $("#vendor-phone").val();
        let email = $("#vendor-email").val();
        let address = $("#vendor-address").val()
        if(!(name && phone && email && address)) {
          alert("Missing inputs")
          return;
        }
        escapeHtml($("#vendor").val(name));
        escapeHtml($("#vendor_phone").val(phone));
        escapeHtml($("#vendor_email").val(email));
        escapeHtml($("#vendor_address").val(address));
        document.getElementById("premade").innerHTML += "<option value='" + name + "'>" + name + "</option>"
        document.getElementById("premade").value = name;

        $.ajax({
          method: "POST",
          url: "/member/purchase/vendor",
          data: {name, phone, email, address}
        }).done(function (data, textStatus, jqXHR) { // Success message
          console.log("Request succeeded to send to database.");
          document.getElementById("vendor-name").value = "";
          document.getElementById("vendor-phone").value = "";
          document.getElementById("vendor-email").value = "";
          document.getElementById("vendor-address").value = "";
        }).fail(function (jqXHR, textStatus, errorThrown) { // Fail message
          $('#modal-addVendor-error').css("visibility","visible");
          $('#modal-addVendor-error').css("display","block");
          console.log("Request failed to send to database: " + errorThrown);
        });
      });

      // https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
      // functionality for drag and drop so that users can drop a CSV into the page
      var dropArea = document.getElementById('parts-drop-area');

      dropArea.addEventListener('drop', handleDrop, false)
      ;['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false)
      })

      ;['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false)
      })

      function highlight(e) {
        dropArea.classList.add('highlight')
      }

      function handleVendorModalHide() {
        let name = $("#vendor-name").val();
        let phone = $("#vendor-phone").val();
        let email = $("#vendor-email").val();
        let address = $("#vendor-address").val()
        if(!(name && phone && email && address)) {
          document.querySelector('#confirm-add-btn').setAttribute('data-dismiss', null);
        } else {
          document.querySelector('#confirm-add-btn').setAttribute('data-dismiss', 'modal');
        }
      }

      function handleVendorModalShow() {
        document.querySelector('#confirm-add-btn').setAttribute('data-dismiss', 'modal');
        $('#modal-addVendor-error').css("visibility","hidden");
        $('#modal-addVendor-error').css("visibility","none");
      }

      function unhighlight(e) {
        dropArea.classList.remove('highlight')
      }

      function handleDrop(e) {
        let dt = e.dataTransfer
        let files = dt.files

        handleFiles(files)
      }

      ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, function(e) { e.preventDefault() }, false)
      })

      function handleFiles(files) {
        var reader = new FileReader();
        reader.onload = function(e) {
          var text = reader.result;
          var arr = text.replace(/\r|\"/g,'').split('\n').map(row => row.split(','));
          
          var input_row = $('#input-row > td input');

          for (var i = 0; i < arr.length; i++) {
            console.log('-----')
            console.log(row)
            var row = arr[i];
            if(Number.isNaN(Number(row[4])) || Number.isNaN(Number(row[5]))) continue;

            // for each text column in the table
            for (var j = 0; j <= 3; j++) {
              // fill in the input row with values from the CSV
              $(input_row[j]).val(row[j])
            }
            // for each number column
            for (var j = 4; j <= 5; j++) {
              console.log(j,row[j])
              // fill in the input row with values from the CSV
              $(input_row[j]).val(row[j].replace('\r','').replace('\"',''))
            }
            $('#add-row').click();
          }
        }
        reader.readAsText(files[0])
      }
    </script>
  </body>
</html>
