<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>
    <% if (typeof purchase === 'undefined' || purchase === null) purchase = { "vendor":"","vendor_phone":"","vendor_email":"","reason_for_purchase":"","submitted_by":"N/A","__v":0,"approval":0,"shipping_and_handling":[],"quantity":[],"price_per_unit":[],"subsystem":[],"part_name":[],"part_number":[],"part_url":[]} %>
    <header>
      <div class="container-fluid">
        <form class="form-horizontal" method="POST">
          <h1 class="title"> EDIT PURCHASE </h1>
          <div class="form-group">
            <label class="col-sm-2 control-label">Subteam</label>
            <div class="radio-inline col-sm-2">
              <label>
                &emsp;<input type="radio" name="subteam" value="0" <%- purchase.subteam === 0 ? "checked" : "" %> /> Mech
              </label>
            </div>
            <div class="radio-inline col-sm-2">
              <label>
                <input type="radio" name="subteam" value="1" <%- purchase.subteam === 1 ? "checked" : "" %> /> E
              </label>
            </div>
            <div class="radio-inline col-sm-2">
              <label>
                <input type="radio" name="subteam" value="2" <%- purchase.subteam === 2 ? "checked" : "" %> /> Software
              </label>
            </div>
            <div class="radio-inline col-sm-2">
              <label>
                <input type="radio" name="subteam" value="3" <%- purchase.subteam === 3 ? "checked" : "" %> /> Ops
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="vendor" class="col-sm-2 control-label">Vendor Name</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control" name="vendor" id="vendor" value="<%- purchase.vendor %>" />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor_phone" class="col-sm-2 control-label">Vendor Phone Number</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control" name="vendor_phone" id="vendor_phone" value="<%- purchase.vendor_phone %>" />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor_email" class="col-sm-2 control-label">Vendor Email</label>
            <div class="col-sm-10 col-lg-8">
              <input type="email" class="form-control" name="vendor_email" id="vendor_email" value="<%- purchase.vendor_email %>" />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor_address" class="col-sm-2 control-label">Vendor Address</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control" name="vendor_address" id="vendor_address" value="<%- purchase.vendor_address %>" />
            </div>
          </div>
          <div class="form-group">
            <label for="reason_for_purchase" class="col-sm-2 control-label">Reason For Purchase</label>
            <div class="col-sm-10 col-lg-8">
              <textarea class="form-control" rows="3" id="reason_for_purchase" name="reason_for_purchase"><%- purchase.reason_for_purchase %></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="shipping_and_handling" class="col-sm-2 control-label">Shipping and Handling</label>
            <div class="col-sm-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control to-price" name="shipping_and_handling" id="shipping_and_handling" value="<%- purchase.shipping_and_handling %>" pattern="^\d+(\.\d{0,2})?$" />
              </div>
            </div>
          </div>
          <div id="parts">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="center">Part URL</th>
                  <th class="center">Part #</th>
                  <th class="center">Part Name</th>
                  <th class="center">Subsystem</th>
                  <th class="center">$/Unit</th>
                  <th class="center">Quantity</th>
                  <th class="center">Add/Cut Rows</th>
                </tr>
              </thead>
              <tbody>
                <tr id="input-row">
                  <td><input type="text"    id="part_url"       name="part_url"       class="form-control" /></td>
                  <td><input type="text"    id="part_number"    name="part_number"    class="form-control" /></td>
                  <td><input type="text"    id="part_name"      name="part_name"      class="form-control" /></td>
                  <td><input type="text"    id="subsystem"      name="subsystem"      class="form-control" /></td>
                  <td><div class="input-group">
                   <span class="input-group-addon">$</span>
                   <input type="text" id="price_per_unit" name="price_per_unit" class="form-control" pattern="^\d+(\.\d{0,2})?$" />
                  </div></td>
                  <td><input type="number"  id="quantity"       name="quantity"       class="form-control" /></td>
                  <td><button type="button" id="add-row" class="btn btn-info form-control">Add</button></td>
                </tr>
                <% for(var i = 0; i < purchase.part_url.length; i++) { %>
                  <tr>
                    <td><input type="text" name="part_url" class="form-control" value="<%- purchase.part_url[i] %>" /></td>
                    <td><input type="text" name="part_number" class="form-control" value="<%- purchase.part_number[i] %>" /></td>
                    <td><input type="text" name="part_name" class="form-control" value="<%- purchase.part_name[i] %>" /></td>
                    <td><input type="text" name="subsystem" class="form-control" value="<%- purchase.subsystem[i] %>" /></td>
                    <td><div class="input-group">
                     <span class="input-group-addon">$</span>
                     <input type="text" id="price_per_unit" name="price_per_unit" class="form-control to-price" value="<%- purchase.price_per_unit[i] %>" pattern="^\d+(\.\d{0,2})?$" />
                    </div></td>
                    <td><input type="number" name="quantity" class="form-control" value="<%- purchase.quantity[i] %>" /></td>
                    <td><button type="button" class="remove-row btn btn-info form-control">Remove</button></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <button type="submit" class="btn btn-default">Re-Submit</button>
        </form>
      </div>
    </header>

    <script>
      $(".to-price").each(function(i, e) {
        $(e).val(parseFloat($(e).val(), 10).toFixed(2))
      })
      $("#add-row").click(function() {
        $("#parts > table > tbody").append(""
          + '<tr>'
          +   '<td><input type="text" name="part_url" class="form-control" value="' + $("#part_url").val() + '" /></td>'
          +   '<td><input type="text" name="part_number" class="form-control" value="' + $("#part_number").val() + '" /></td>'
          +   '<td><input type="text" name="part_name" class="form-control" value="' + $("#part_name").val() + '" /></td>'
          +   '<td><input type="text" name="subsystem" class="form-control" value="' + $("#subsystem").val() + '" /></td>'
          +   '<td><div class="input-group">'
          +     '<span class="input-group-addon">$</span>'
          +     '<input type="text" name="price_per_unit" class="form-control" value="' + $("#price_per_unit").val() + '" />'
          +   '</div></td>'
          +   '<td><input type="text" name="quantity" class="form-control" value="' + $("#quantity").val() + '" /></td>'
          +   '<td><button type="button" class="remove-row btn btn-info form-control">Remove</button></td>'
          + '</tr>'
        );
        $("#input-row input").val("");
        $(".remove-row").click(function() {
          $(this).parent().parent().remove();
        });
      });
      $(".remove-row").click(function() {
        $(this).parent().parent().remove();
      });
    </script>

    <%- include(__base + 'views/partials/js-include.ejs') %>

  </body>
</html>
