<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs', {title: `View PR #${purchase.purchase_id} - ${purchase.vendor} | Harker Robotics 1072`}) %>
    <style media="print">
      #approval-buttons {
        display: none;
      }
      .form-group, #parts {
        page-break-inside: avoid;
      }
      #print-desc-block {
        display: block !important;
        width: 50%;
        margin: auto;
      }
    </style>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>
    <% if (typeof creation === 'undefined' || creation === null || creation === "Invalid Date") creation = "No Date Data" %>
    <% if (typeof total === 'undefined' || total === null || isNaN(total)) total = 0 %>
    <% if (typeof purchase === 'undefined' || purchase === null) purchase = { "_id": "blank","vendor":"","vendor_phone":"","vendor_email":"","reason_for_purchase":"","submitted_by":"N/A","__v":0,"approval":-1,"shipping_and_handling":[],"quantity":[],"price_per_unit":[],"subsystem":[],"part_name":[],"part_number":[],"part_url":[],"tax":0} %>
    <% if (typeof purchase.mentor_date_approved === 'undefined' || purchase.mentor_date_approved === null || purchase.mentor_date_approved === "Invalid Date") purchase.mentor_date_approved = "No Date Data" %>
    <header>
      <div class="container-fluid">
        <form class="form-horizontal" method="POST">
          <h1 class="title"> VIEW PURCHASE (ID: <span id="purchase_id_title"><%- purchase.purchase_id %></span>)</h1>
          <% if (purchase.draft || purchase.edited_after_rejection) { %>
            <h3 class="text-center text-muted">
              <%- purchase.draft ? "DRAFT" : "EDITED" %>
            </h3>
            <br>
          <% } %>
          <div class="form-group">
            <label for="vendor" class="col-sm-2 control-label">Submitted By</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control" value="<%- purchase.submitted_by %>" disabled />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor" class="col-sm-2 control-label">Purchase ID</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control" name="vendor" id="vendor" value="<%- purchase.purchase_id %>" disabled />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor" class="col-sm-2 control-label">Creation Date</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control" name="vendor" id="vendor" value="<%- creation %>" disabled />
            </div>
          </div>
          <div class="form-group">
            <label for="mentor_date_approved" class="col-sm-2 control-label">(Mentor) Approval Date</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control" name="mentor_date_approved" id="mentor_date_approved" value="<%- purchase.mentor_date_approved %>" disabled />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Subteam</label>
            <div class="radio-inline col-sm-2">
              <label>
                &emsp;<input type="radio" name="subteam" value="0" <%- purchase.subteam === 0 ? "checked" : "" %> disabled /> Mech
              </label>
            </div>
            <div class="radio-inline col-sm-2">
              <label>
                <input type="radio" name="subteam" value="1" <%- purchase.subteam === 1 ? "checked" : "" %> disabled /> Electrical
              </label>
            </div>
            <div class="radio-inline col-sm-2">
              <label>
                <input type="radio" name="subteam" value="2" <%- purchase.subteam === 2 ? "checked" : "" %> disabled /> Software
              </label>
            </div>
            <div class="radio-inline col-sm-2">
              <label>
                <input type="radio" name="subteam" value="3" <%- purchase.subteam === 3 ? "checked" : "" %> disabled /> Ops
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="vendor" class="col-sm-2 control-label">Vendor Name</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control" name="vendor" id="vendor" value="<%- purchase.vendor %>" disabled />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor_phone" class="col-sm-2 control-label">Vendor Phone Number</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control" name="vendor_phone" id="vendor_phone" value="<%- purchase.vendor_phone %>" disabled />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor_email" class="col-sm-2 control-label">Vendor Email</label>
            <div class="col-sm-10 col-lg-8">
              <input type="email" class="form-control" name="vendor_email" id="vendor_email" value="<%- purchase.vendor_email %>" disabled />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor_address" class="col-sm-2 control-label">Vendor Address</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control" name="vendor_address" id="vendor_address" value="<%- purchase.vendor_address %>" disabled />
            </div>
          </div>
          <div class="form-group">
            <label for="reason_for_purchase" class="col-sm-2 control-label">Reason For Purchase</label>
            <div class="col-sm-10 col-lg-8">
              <textarea class="form-control" rows="3" id="reason_for_purchase" name="reason_for_purchase" disabled><%- purchase.reason_for_purchase %></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="shipping_and_handling" class="col-sm-2 control-label">Shipping and Handling</label>
            <div class="col-sm-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control to-price" name="shipping_and_handling" id="shipping_and_handling" value="<%- purchase.shipping_and_handling[0] %>" pattern="^\d+(\.\d{0,2})?$" disabled />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="tax" class="col-sm-2 control-label">Tax</label>
            <div class="col-sm-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control to-price" name="tax" id="tax" value="<%- purchase.tax %>" pattern="^\d+(\.\d{0,2})?$" disabled />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="total" class="col-sm-2 control-label">Total</label>
            <div class="col-sm-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control to-price" name="total" id="total" value="<%- total %>" pattern="^\d+(\.\d{0,2})?$" disabled />
              </div>
            </div>
          </div>
          <div id="parts">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="center">Part URL</th>
                  <th class="center">Part #</th>
                  <th class="center">Part Name</th>
                  <th class="center">Subsystem</th>
                  <th class="center">$/Unit</th>
                  <th class="center">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0; i < purchase.part_url.length; i++) { %>
                  <tr>
                    <% if (purchase.part_url[i] == "") { %>
                      <td><a class="form-control" style="height: auto;" disabled><%- purchase.part_url[i] %></a></td>
                    <% } else { %>
                      <td><a href="<%- purchase.part_url[i] %>" target="_blank" class="form-control" style="height: auto;" disabled><%- purchase.part_url[i] %></a></td>
                    <% } %>
                    <td><textarea name="part_number" class="form-control" disabled ><%- purchase.part_number[i] %></textarea></td>
                    <td><textarea name="part_name" class="form-control" disabled /><%- purchase.part_name[i] %></textarea></td>
                    <td><textarea name="subsystem" class="form-control" disabled /><%- purchase.subsystem[i] %></textarea></td>
                    <td><div class="input-group">
                     <span class="input-group-addon">$</span>
                     <input type="text" id="price_per_unit" name="price_per_unit" class="form-control to-price" value="<%- purchase.price_per_unit[i] %>" disabled />
                    </div></td>
                    <td><input type="number" name="quantity" class="form-control" value="<%- purchase.quantity[i] %>" disabled /></td>
                  </tr>
                <% } %>
                <% if (purchase.part_url.length === 0) { %>
                  <tr>
                    <td colspan="6" style="position: relative;padding: 20px;">
                      <p class="center" style="position: absolute; left: 50%; transform: translate(-50%, -50%); top: 50%"><b>No Data</b></p>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </form>
        <% const put_buttons = purchase.approval < 4 && auth.loggedin && ((auth.level >= ranks.admin && purchase.approval >= 0 && purchase.approval <= 3) || (auth.level >= ranks.mentor && purchase.approval >= 2)) %>
        <div class="center" id="approval-buttons">
          <% if (put_buttons) { %>
            <input style="width: 60%; margin: auto;" type="text" id="approval-comments" class="form-control" placeholder="Comments" /></p>
          <% } %>
          <% if (purchase.draft) { %>
            <p class="text-center text-danger">This purchase cannot be approved because it is a draft.</p>
          <% } %> 
          <div class="btn-group">
            <!-- <button type="button" class="btn btn-info btn-lg">Print</button> -->
            <button type="button" class="btn btn-info btn-lg" id="vex-list-button">Vex List</button>
            <% if ((purchase.approval === 0 || purchase.approval === 1 || purchase.approval === 3) && purchase.submitted_by == auth.info.email) { %>
              <button class="btn btn-default btn-lg" onclick="window.location.replace('../edit/<%- purchase.purchase_id %>')">Edit</button>
            <% } %>
            <% if (put_buttons) { %>
              <button type="button" class="btn btn-success btn-lg" id="approve-purchase" <%- purchase.draft ? "disabled" : "" %>>Approve<%= auth.level >= ranks.superadmin ? ' (Admin)' : '' %></button>
              <button type="button" class="btn btn-danger btn-lg" id="reject-purchase">Reject<%= auth.level >= ranks.superadmin ? ' (Admin)' : '' %></button>
              <% if (auth.level >= ranks.superadmin) { %>
                <button type="button" class="btn btn-success btn-lg" id="approve-purchase-mentor" <%- purchase.draft ? "disabled" : "" %>>Approve (Mentor)</button>
                <button type="button" class="btn btn-danger btn-lg" id="reject-purchase-mentor">Reject (Mentor)</button>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
      <p class="hidden center" id="print-desc-block">This report was generated by the Harker Robotics 1072 Purchase Request system, originally created by David Melisso, Harker class of 2019. &copy; 2021, All Rights Reserved.</p>

    </header>

    <script>
      function generateVexListFromPage() {
        let res = "";
        $('#parts tbody tr').each(function(index, element) {
          const part_num = $(element).find('textarea[name=part_number]').val();
          const quantity = $(element).find('input[name=quantity]').val();
          res += `${part_num} ${quantity}\n`;
        })
        return res;
      }

      // creates vex list for part number and quantity
      // https://stackoverflow.com/questions/3665115/create-a-file-in-memory-for-user-to-download-not-through-server
      $('#vex-list-button').click(function() {
        var href = `data:text;charset=utf-8,${encodeURI(generateVexListFromPage())}`;
        var element = document.createElement('a');
        element.setAttribute('href', href);
        element.setAttribute('download', 'vex_list.txt');
        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
      })

      $(".to-price").each(function(i, e) {
        $(e).val(parseFloat($(e).val(), 10).toFixed(2))
      })
      $("#add-row").click(function() {
        $("#parts > table > tbody").append(""
          + '<tr>'
          +   '<td><input type="text" name="part_url" class="form-control" value="' + $("#part_url").val() + '" /></td>'
          +   '<td><input type="text" name="part_number" class="form-control" value="' + $("#part_number").val() + '" /></td>'
          +   '<td><input type="text" name="part_name" class="form-control" value="' + $("#part_name").val() + '" /></td>'
          +   '<td><input type="text" name="subsystem" class="form-control" value="' + $("#subsystem").val() + '" /></td>'
          +   '<td><div class="input-group">'
          +     '<span class="input-group-addon">$</span>'
          +     '<input type="text" name="price_per_unit" class="form-control" value="' + $("#price_per_unit").val() + '" />'
          +   '</div></td>'
          +   '<td><input type="text" name="quantity" class="form-control" value="' + $("#quantity").val() + '" /></td>'
          +   '<td><button type="button" class="remove-row btn btn-info form-control">Remove</button></td>'
          + '</tr>'
        );
        $("#input-row input").val("");
        $(".remove-row").click(function() {
          $(this).parent().parent().remove();
        });
      });
      $('#parts > table > tbody > tr > td textarea').each(function(i,e) {
        this.style.height = this.scrollHeight+'px';
      })
      $('#parts > table > tbody > tr > td a').each(function(i,e) {
        this.style.minHeight = this.scrollHeight+'px';
      })
      console.log(<%- auth.loggedin && auth.level >= ranks.admin %>)
      <% if (auth.loggedin && auth.level >= ranks.admin) { %>
        var data_admin = { 'comments': $("#approval-comments").val(), updatedAt: <%= purchase.updatedAt.getTime() %> }
        $("#approve-purchase").click(function() {
          $.post('/member/purchase/admin/approve/<%= purchase.purchase_id %>', data_admin, function() {
            window.location.href = "/member/purchase/"
          }).fail(function(xhr) {
            console.error(xhr)
            
            if (xhr.status == 409) alert('This request has been editted somewhere else; it was not approved')
            else alert('Something went wrong.')
          })
        })
        $("#reject-purchase").click(function() {
          $.post('/member/purchase/admin/reject/<%= purchase.purchase_id %>', data_admin, function() {
            window.location.href = "/member/purchase/"
          }).fail(function(xhr) {
            console.error(xhr)
            
            if (xhr.status == 409) alert('This request has been editted somewhere else; it was not approved')
            else alert('Something went wrong.')
          })
        })
      <% } %>
      <% if (auth.loggedin && auth.level >= ranks.mentor) { %>
        var data_mentor = { 'comments': $("#approval-comments").val(), updatedAt: <%= purchase.updatedAt.getTime() %>, mentor: true }
        $("#approve-purchase-mentor").click(function() {
          $.post('/member/purchase/admin/approve/<%= purchase.purchase_id %>', data_mentor, function() {
            window.location.href = "/member/purchase/mentor"
          }).fail(function(xhr) {
            alert('Something went wrong.')
            console.error(xhr)
          })
        })
        $("#reject-purchase-mentor").click(function() {
          $.post('/member/purchase/admin/reject/<%= purchase.purchase_id %>', data_mentor, function() {
            window.location.href = "/member/purchase/admin"
          }).fail(function(xhr) {
            alert('Something went wrong.')
            console.error(xhr)
          })
        })
      <% } %>

      window.addEventListener("beforeprint", () => document.title = "OID<%= purchase.purchase_id %>" );
      window.addEventListener("afterprint", () => document.title = "View PR #<%= purchase.purchase_id %> - <%= purchase.vendor %> | Harker Robotics 1072" );
    </script>

    

  </body>
</html>
