<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
    <style> header *:not(a), h1.title { color: black } body, header { background-color: lightgray } </style>
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <style>
      header { padding-top: 50px; }
      iframe { width: 100%; height: 100%; }
      body, header { background-color: lightgray }
    </style>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-main.ejs') %>

    <!--
    <header>

      <div class="container-fluid">
        <h1 class="title">BUILD LOG</h1>


        <div class="list-group" style="margin-top: 74px">
          <% for (var post of posts) { %>
            <div class="list-group-item">
              <h3 class="list-group-item-heading"><%- post.title %></h3>
              <p style="color: lightgray; font-size: .9em; ">Posted
                <%- post.author ? ' by ' + post.author + ' on ' : '' %>
                <%- post.createdAt.toLocaleDateString('en-US', {
                  weekday: "long", year: "numeric", month: "short",
                  day: "numeric"
                }) %>
              </p>
              <div class="list-group-item-text" style="font-size: 1.2em;"><%- post.content %></div>
            </div>
          <% } %>
        </div>
      </div>
    </header>
    -->

    <header>
      <iframe src="https://harkerrobotics.blogspot.com/" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </header>


    

  </body>
</html>
