<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>

    <header class="scrollable" id="home">
      <div class="container-fluid">
        <h1 class="title">MEMBER</h1>
        <p class="info-text">View <a href="/member/resources" class="regular">important information</a>, or search for a part on the <a href="/member/parts/search" class="regular">parts system</a>.</p>
        <% if (auth.level >= ranks.pr_whitelist) {%>
          <p class="info-text">Since you are whitelisted for PR, you can also make Purchase Requests and view our Resources.</p>
        <% } %>

        <div id="roles">
          
        </div>

        <div id="travelteam">
          
        </div>
      </div>

    </header>

    <%- include(__base + 'views/partials/footer.ejs') %>

    <script>
      window.travelTeamDecisions = window.decode(window.travelTeamData);
      window.decision = window.travelTeamDecisions["<%= auth.info.email %>".slice(0, -20).toLowerCase()];
      if(decision) {
        document.getElementById("travelteam").innerHTML = "<button onclick='document.getElementById(\"decision1\").classList.toggle(\"show\")' class='decision-button'> Reveal MBR Travel Team Decision </button><p id='decision1' class='decision-text'>" + window.decision.replace(/\n/g, "<br />") + "</p>"
      }
      
      window.travelTeamDecisions = window.decode(window.rolesData);
      window.decision = window.travelTeamDecisions["<%= auth.info.email %>".slice(0, -20).toLowerCase()];
      if(decision) {
        window.decision = window.decode(window.roles)[decision];
        document.getElementById("roles").innerHTML = "<button onclick='document.getElementById(\"decision2\").classList.toggle(\"show\")' class='decision-button'> Reveal CVR Travel Team Role </button><p id='decision2' class='decision-text'>" + window.decision.replace(/\n/g, "<br />") + "</p>"
      }
    </script>

    <style>
      #roles, #travelteam {
        margin-bottom: 3vw;
      }
      .decision-text {
        width: 56vw;
        margin-left: 22vw;
        font-family: "Roboto", sans-serif;
        font-size: 16pt;
        background-color: #001057;
        margin-top: 0;
        margin-bottom: 3vw;
        padding: 2vw;
        display: none;
      }
      
      .show {
        display: block;
      }

      .decision-button {
        cursor: pointer;
        width: 56vw; 
        margin-left: 22vw; 
        height: 5vw; 
        font-size: calc(8pt + 2.5vw); 
        background-color: #4b5a82; 
        color: white; 
        border: none;
      }
      
      @media screen and (max-width: 800px) {
        .decision-button {
          width: 80vw;
          margin-left: 7vw;
          height: 8vw;
        }

        .decision-text {
          width: 80vw;
          margin-left: 7vw;
          font-size: 12pt;
        }
      }
    </style>
    <script>delete window.travelTeamData;delete window.travelTeamDecisions;delete window.roles;delete window.rolesData;delete window.decision;delete window.decode;</script>
  </body>
</html>