<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>

    <header class="scrollable" id="home">
      <div class="container-fluid">
        <div class="text-center">
          <img src="/new/img/logo/logo.png" class="logo">
        </div>
        <h1 class="title">MEMBER PORTAL</h1>
        <p class="home-description">
          Welcome to the Harker Robotics member portal. Here you can find our
          training resources,
          attendance app
          permission forms,
          <%- auth.level >= ranks.director ? "URL shortener, " : "" %>,
          <%- auth.level >= ranks.pr_whitelist ? "purchase request system, " : "" %>
          and build blogs.
          Click through the top bar to explore the portal.
        </p>
        <div class="text-center links">
          <a href="https://drive.google.com/drive/u/5/folders/0ADc8RSU5LLyTUk9PVA" target="_blank">
            <img src="/new/img/logo/icon/member-landing/drive.png">
          </a>
          &nbsp;&nbsp;
          <a href="https://harkerrobo.slack.com" target="_blank">
            <img src="/new/img/logo/icon/member-landing/slack.png">
          </a>
          &nbsp;&nbsp;
          <a href="https://github.com/HarkerRobo" target="_blank">
            <img src="/new/img/logo/icon/member-landing/github.png">
          </a>
          &nbsp;&nbsp;
          <a href="/member/calendar" target="_blank">
            <img src="/new/img/logo/icon/member-landing/calendar.png">
          </a>
          &nbsp;&nbsp;
          <a href="https://www.youtube.com/user/Harker1072" target="_blank">
            <img src="/new/img/logo/icon/member-landing/youtube.png">
          </a>
        </div>
      </div>
    </header>

    <%- include(__base + 'views/partials/member/footer.ejs') %>

    <style>
      #roles, #travelteam {
        margin-bottom: 3vw;
      }
      img.logo {
        height: 20vh;
      }
      .home-description {
        font-family: "Roboto", sans-serif;
        margin: 5%;
        font-size: 150%;
      }
      .decision-text {
        width: 56vw;
        margin-left: 22vw;
        font-family: "Roboto", sans-serif;
        font-size: 16pt;
        background-color: #001057;
        margin-top: 0;
        margin-bottom: 3vw;
        padding: 2vw;
        display: none;
      }
      
      .show {
        display: block;
      }

      .decision-button {
        cursor: pointer;
        width: 56vw; 
        margin-left: 22vw; 
        height: 5vw; 
        font-size: calc(8pt + 2.5vw); 
        background-color: #4b5a82; 
        color: white; 
        border: none;
      }
      
      @media screen and (max-width: 800px) {
        .decision-button {
          width: 80vw;
          margin-left: 7vw;
          height: 8vw;
        }

        .decision-text {
          width: 80vw;
          margin-left: 7vw;
          font-size: 12pt;
        }
      }
    </style>
  </body>
</html>