<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>

    <header id="uams">
      <div class="container-fluid">
        <h1 class="title">U.A.M.S.</h1>
        <p class="info-text"><strong>U</strong>ser <strong>A</strong>uthorization <strong>M</strong>anagement <strong>S</strong>ystem.<br/>
          In the future you will be able to change the users who have different privileges.
        </p>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <h1 class="center title-text"><b>PR WHITELIST</b></h1>
            <ul class="list-group black-text" id="members">
              <li class="list-group-item">
                <form data-level="<%= ranks.director %>"><div class="form-group"><div class="input-group">
                  <input type="email" class="form-control" placeholder="Email" name="email" required />
                  <a class="btn input-group-addon submit"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div></div></form>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-4">
            <h1 class="center title-text"><b>ADMINS</b></h1>
            <ul class="list-group black-text" id="admins">
              <li class="list-group-item">
                <form data-level="<%= ranks.triumvirate %>"><div class="form-group"><div class="input-group">
                  <input type="email" class="form-control" placeholder="Email" name="email" required />
                  <a class="btn input-group-addon submit"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div></div></form>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-4">
            <h1 class="center title-text"><b>MENTORS</b></h1>
            <ul class="list-group black-text" id="mentors">
              <li class="list-group-item">
                <form data-level="<%= ranks.mentor %>"><div class="form-group"><div class="input-group">
                  <input type="email" class="form-control" placeholder="Email" name="email" required />
                  <a class="btn input-group-addon submit"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div></div></form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <script>
      var xhr1 = null,
        xhr2 = null,
        xhr3 = null
      function removeHandler() {
        console.log($(this))
        $.post('/member/userman/setuserauth', {
          email: $(this).attr('data-email'),
          level: <%= ranks.none %>,
        }, loadUsers).fail(handleXHRError)
      }
      function loadUsers() {
        if (xhr1 !== null) xhr1.abort()
        xhr1 = $.get('/member/userman/userswithauth/' + <%= ranks.director %>, function(emails) {
          $('#members li:not(:first)').remove()
          for (var email of emails) {
            $('#members').append(`<li class="list-group-item clearfix">
              ${email}
              <span class="pull-right">
                <span class="btn btn-xs btn-default btn-danger remove" data-email="${email}">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true">
                  </span>
                </span>
              </span>
            </li>`).find('span.remove').click(removeHandler)
          }
        })
        if (xhr2 !== null) xhr2.abort()
        xhr2 = $.get('/member/userman/userswithauth/' + <%= ranks.triumvirate %>, function(emails) {
          $('#admins li:not(:first)').remove()
          for (var email of emails) {
            $('#admins').append(`<li class="list-group-item clearfix">
              ${email}
              <span class="pull-right">
                <span class="btn btn-xs btn-default btn-danger remove" data-email="${email}">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true">
                  </span>
                </span>
              </span>
            </li>`).find('span.remove').click(removeHandler)
          }
        })
        if (xhr3 !== null) xhr3.abort()
        xhr3 = $.get('/member/userman/userswithauth/' + <%= ranks.mentor %>, function(emails) {
          $('#mentors li:not(:first)').remove()
          for (var email of emails) {
            $('#mentors').append(`<li class="list-group-item clearfix">
              ${email}
              <span class="pull-right">
                <span class="btn btn-xs btn-default btn-danger remove" data-email="${email}">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </span>
              </span>
            </li>`).find('span.remove').click(removeHandler)
          }
        })

        //$("#uams ul.list-group > li.list-group-item:not(:first) span.remove").click()
      }
      loadUsers()
      function handleAdd(e) {
        e.preventDefault()
        var input = $(this).find('input[name="email"]')
        var email = input.val()
        input.val('')
        $.post('/member/userman/setuserauth', {
          email: email,
          level: $(this).attr('data-level'),
        }, loadUsers).fail(handleXHRError)
      }

      $('#uams form').submit(handleAdd)
      $('#uams a.submit').click(function(e) { $(this).parent().submit() })
    </script>

  </body>
</html>
